#wrapper
{
    text-align:center;
    margin-left: 15%;
    padding:5%;
    width:995px;
}
#drop-area
{
    margin-top:20px;
    margin-left:220px;
    width: 360px;
    height: 375px;
    background-color:white;
    border:3px dashed grey;
    text-align: center;
}
.drop-text
{
    margin-left: 5%;
    margin-top:30%;
    color:grey;
    font-size:12px;
    font-weight:bold;
}

.drop-text2
{
    margin-top:30%;
    color:grey;
    font-size:15px;
    font-weight:bold;
}


#drop-area img
{
    max-width:200px;
}