body{
    background-color: #b7fad9;
}

#footer{
    position: fixed;
    z-index: 1;
}

#designLeft
{
    text-align:center;
    padding:0px;
    margin: 1%;
}
#drop-area
{
    margin-top:30px;
    margin-left:8%;
    width:400px;
    height:250px;
    background-color:white;
    border:3px dashed grey;
}
.drop-text
{
    margin-top:100px;
    color:grey;
    font-size:25px;
    font-weight:bold;
}

#drop-area img
{
    max-width:200px;
}

#mains div{
    width:530px;
    margin-left: 20px;
    margin-right:20px;
    float: left;
}

#designLeft div{
    margin-top: 15px;
    margin-bottom: 15px;
}


.radioBtns input{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.clear{
    clear: both;
}

#AddCart{
    margin-top: 30px;
    margin-bottom: 80px;
}

