#body{
    background-color: #a4fad6;
}

#footer{
    position: fixed;
    bottom: 0;
    padding-bottom: 0;
    z-index: 1;
    background-color: grey;
}
.container{
    position: fixed;
    bottom: 0;
}

#designLeft
{
    padding:0;
    margin: 0.5%;
    float: left ;
}

#userImage{
    height: 100%;
    width: 100%;
   /* object-fit: contain;*/
}

#drop-area
{
    margin-top:30px;
    margin-left:8%;
    width: 200px !important;
    height:300px;
    background-color:white;
    border:3px dashed grey;
    padding: 1%;
}

.drop-text
{
    margin-top:100px;    color:grey;
    font-size:25px;
    font-weight:bold;
}

#drop-area img
{
    max-width:200px;
}

#mains div{
    width: 500px;
    margin-top: 5%;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 0;

}

#designLeft div{
    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.radioBtns input{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.clear{
    clear: both;
}

.cover{
    margin-left: 30%;
    margin-bottom: 8px;
    width: 50%;
}

#covers{
    margin-bottom: 100%;
    padding-bottom: 38%;
}

<<<<<<< HEAD
#fileInput{
    margin-left: 65px;
}

=======
#numOfPages{
    padding-top: 3%;
}

#AddCart{
    padding-right: 80%;
    padding-top: 5%;
}
>>>>>>> 0da371cd3562d53fdbd0129f4e4de59fbf8e731c
