
@(notebook: Form[Notebook],customerForm: Form[Customer])


@import models.Notebook
@import play.data.Form
@import views.html.helper.form

<!DOCTYPE html>

<html>
    <head>
        <title>DesigNote</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.default.css")" id="theme-stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/custom.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/payment.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cart.css")">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        @*   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>*@

    </head>

    <body>

        <header>
                       <!-- Nav bar menu-->
        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">
                <div class="container" >
                        <!-- Navbar Header -->

                    <a class="navbar-brand home" href="@routes.Application.index()" style="height: 80px; padding: 1px;">
                        <img src="@routes.Assets.at("images/logo1.png")" alt="DesigNote logo" class="hidden-xs hidden-sm">

                    </a>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@routes.Application.index()">Home</a></li>
                        <li><a href="@routes.CartController.transaction()">Cart</a></li>

                    </ul>
                </div>
            </div>
        </div>
        </header>

        <div class="alert alert-success fade in hidden" id="successAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Your payment was completed and confirmation summary was sent to your email.
        </div>

        <div class="container wrapper">
            <div class="row cart-head">
                <div class="container">
                    <div class="row">
                        <p></p>

                    </div>
                    @*<div class="row">
                    <div style="display: table; margin: auto;">
                    <span class="step step_complete"> <a href="#" class="check-bc">Cart</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
                    <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
                    <span class="step_thankyou check-bc step_complete">Thank you</span>
                    </div>
                    </div>*@
                    <div class="row">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row cart-body">

                <form class="form-horizontal" method="post" action="@routes.CartController.confirm()">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                            <!--REVIEW ORDER-->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                            Review Order <div class="pull-right"><small><a class="afix-1" href="@routes.Application.index()">Edit Notebook</a></small></div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-3 col-xs-3">
                                        <img class="img-responsive" src="@notebook.get().imageId" />
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="col-xs-12">Your customized notebook</div>
                                        <div class="col-xs-12"><small>Dedication:<span>
                                            @notebook.get().dedication
                                        </span></small></div>
                                        <div class="col-xs-12"><small>Number of pages:<span>
                                            @notebook.get().numOfPages
                                        </span></small></div>
                                        <div class="col-xs-12"><small>Cover type:<span>
                                            @notebook.get().cover
                                        </span></small></div>
                                        <div class="col-xs-12"><small>Paper type:<span>
                                            @notebook.get().paper
                                        </span></small></div>
                                        <div class="col-xs-12"><small>Notebook size: <span>
                                            @notebook.get().size
                                        </span></small></div>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 text-right">
                                        <h6>20.00<span>zł</span></h6>
                                    </div>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>Subtotal</strong>
                                        <div class="pull-right"><span>5.00</span><span>zł</span></div>
                                    </div>
                                    <div class="col-xs-12">
                                        <small>Shipping</small>
                                        <div class="pull-right"><span>-</span></div>
                                    </div>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>Order Total</strong>
                                        <div class="pull-right"><span>25.00</span><span>zł</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--REVIEW ORDER END-->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                        <!--SHIPPING METHOD-->
                        @helper.form(action = routes.CartController.confirm()) {
                            <div class="panel panel-info">
                                <div class="panel-heading">Address</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h4>Shipping Address</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @*
                                    <div class="col-md-12"><strong>Country:</strong></div>
                                    <div class="col-md-12">
                                    <input type="text" class="form-control" name="country" value="" />
                                </div>
                                *@
                                        @helper.inputText(
                                                customerForm("country"),
                                                '_label -> "Country",
                                                'id -> "country"
                                        )
                                    </div>
                                    <div class="form-group">
                                        @*
                                    <div class="col-md-6 col-xs-12">
                                    <strong>First Name:</strong>
                                    <input type="text" name="first_name" class="form-control" value="" />
                                </div>
                                    <div class="span1"></div>
                                    <div class="col-md-6 col-xs-12">
                                    <strong>Last Name:</strong>
                                    <input type="text" name="last_name" class="form-control" value="" />
                                </div>
                                *@
                                        <div class="col-md-6 col-xs-12">
                                            @helper.inputText(
                                                    customerForm("fName"),
                                                    '_label -> "First Name",
                                                    'id -> "fName",
                                                    'style -> "width: 100%",
                                                    '_showConstraints -> false
                                            )
                                        </div>
                                        <div class="col-md-6 col-xs-12 longText">
                                            @helper.inputText(
                                                    customerForm("lName"),
                                                    '_label -> "Last Name",
                                                    'id -> "lName",
                                                    'style -> "width: 100%"
                                            )
                                        </div>

                                    </div>
                                    <div class="col-md-12 form-group">

                                        @helper.inputText(
                                                customerForm("address"),
                                                '_label -> "Address",
                                                'id -> "address",
                                                'style -> "width: 106%",
                                                '_showConstraints -> false)

                                    </div>
                                    <div class="col-md-12 form-group">
                                        @helper.inputText(
                                                customerForm("city"),
                                                '_label -> "City",
                                                'id -> "city",
                                                'style -> "width: 106%")
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @helper.inputText(
                                                customerForm("state"),
                                                '_label -> "State",
                                                'id -> "state",
                                                'style -> "width: 106%")
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @helper.inputText(
                                                customerForm("pCode"),
                                                '_label -> "Zip / Postal Code ",
                                                'id -> "pCode",
                                                'style -> "width: 106%")
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @helper.inputText(
                                                customerForm("pNumber"),
                                                '_label -> "Phone Number",
                                                'id -> "pNumber",
                                                'style -> "width: 106%",
                                                '_showConstraints -> false)
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @helper.inputText(
                                                customerForm("email"),
                                                '_label -> "Email Address",
                                                'id -> "email",
                                                'style -> "width: 106%",
                                                '_showConstraints -> false
                                            )
                                    </div>
                                    <div id="paypal-button-container" onclick="submitForm()">
                                        @* <input type="image" name="submit" border="0"
                                        src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png"
                                        alt="Buy Now">
                                        <img alt="" border="0" width="1" height="1"
                                        src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >*@
                                        <div id="paypal-button"></div>
                                    </div>
                                    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
                                    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                    <script type="text/javascript" src="@routes.Assets.at("javascripts/payment.js")"></script>
                                   
                                    @*  <div class="col-md-6 col-sm-6 col-xs-12">

                                <button type="submit" class="btn btn-primary btn-submit-fix">Place Order</button>

                            </div>*@
                                </div>
                            </div>
                        }
                        <!--SHIPPING METHOD END-->
                        <!--CREDIT CART PAYMENT-->
                        <!--CREDIT CART PAYMENT END-->
                    </div>

                </form>
            </div>

        </div>

        <footer>
            <div id="footer">
                <div class="container">
                    <div class="col-md-12">
                        <p class="pull-left">&copy; 2017 DesigNote</p>
                        <p class="pull-right">Footer by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://fity.cz">Fity.cz</a>with support from <a href="https://kakusei.cz">Kakusei</a>
                            <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                        </p>

                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>



