@(customer: Form[Customer])


@import models.Notebook
@import play.data.Form
@import views.html.helper.form

<!DOCTYPE html>

<html>
    <head>
        <title>DesigNote</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.default.css")" id="theme-stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/custom.css")">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    </head>
<body>
    <header>
            <!-- Nav bar menu-->
        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">
                <div class="container" >
                        <!-- Navbar Header -->

                    <a class="navbar-brand home" href="@routes.Application.index()" style="height: 80px; padding: 1px;">
                        <img src="@routes.Assets.at("images/logo1.png")" alt="DesigNote logo" class="hidden-xs hidden-sm">

                    </a>

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="@routes.Application.index()">Home</a></li>
                        <li><a href="@routes.CartController.transaction()">Cart</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </header>
    <boody>
    <div class="qlt-confirmation" style="align-self:center">
        <div class="panel panel-default" style="align-self:center">
            <div class="panel-body" style="align-self:center">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-communication/142/open_mail_letter-512.png" style="align-self:center; width:30px; height: 30px;">
                    <p class="desc">Thank you for placing your order,@customer.get().fName!<br>We have sent you a confirmation of your order to @customer.get().email .<br>Please visit your <img style="align-self:center; width: 40px; height: 40px" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-business/080840-glossy-black-icon-business-mailbox.png">.</p>
            </div>
        </div>
    </div>
    </boody>
  <footer>
  <div id="footer">
    <div class="container">
      <div class="col-md-12">
        <p class="pull-left">&copy; 2017 DesigNote</p>
        <p class="pull-right">Footer by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://fity.cz">Fity.cz</a>with support from <a href="https://kakusei.cz">Kakusei</a>
            <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>

      </div>
    </div>
  </div>
</footer>
    </body>
</html>