
<!DOCTYPE html>

<html>
    <head>
        <title>DesigNote</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.default.css")" id="theme-stylesheet">
    </head>

    <body>
        <header>
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 contact">
                            <p class="hidden-sm hidden-xs">
                                Contact us on +48 999 999 999 or
                                help@@designote.com
                            </p>
                            <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse">
                                <i class="fa fa-phone"></i></a>
                                <a href="#" data-animate-hover="pulse">
                                    <i class="fa fa-envelope"></i></a>
                        </div>
                        <div class="col-xs-7">
                            <div class="social">
                                <a href="https://www.facebook.com/DesigNote-137579040328140/" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div>

                            <div class="login">
                                <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
                                <a href="customer-register.html"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Sign up</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Nav bar menu-->
            <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                            <!-- Navbar Header -->

                        <a class="navbar-brand home" href="index.html">
                            <img src="@routes.Assets.at("images/logo.png")" alt="DesigNote logo" class="hidden-xs hidden-sm">
                        </a>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.scala.html">Home</a></li>
                            <li><a href="cart.scala.html">Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>




        <div id="footer">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">&copy; 2017. DesigNote</p>
                    <p class="pull-right">Template by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://fity.cz">Fity.cz</a>with support from <a href="https://kakusei.cz">Kakusei</a>
                            <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>

                </div>
            </div>
        </div>


    </body>
</html>


